<form action="compute" method="post" style="text-align: center;">
        <input name="input1" type="text" placeholder="slider item" style="display:block; margin-top:50px; margin-bottom:50px;">
        <input name="input2" type="text" placeholder="slider img" style="display:block; margin-bottom:50px;">
        <input name="input3" type="text" placeholder="baslangic" style="display:block; margin-bottom:50px;">
        <input name="input4" type="text" placeholder="son" style="display:block; margin-bottom:50px;">
        <input name="input5" type="text" placeholder="sliderItemCount" style="display:block; margin-bottom:50px;">
        <input type="submit"> 
</form>
<div style="">Slider oluşturuldu mu?{{result}}</div>
